include LICENSE
include README.rst
include fabfile.py
include tox.ini
include requirements-test.txt

recursive-include docs *.rst Makefile conf.py make.bat
recursive-include test_app *.html
recursive-include tidings *.html *.ltxt
